body {
  background: red;
}
#img3 {
  background-image: url("http://mysite.com/image3.png");
}
#img2 {
  background-image: url("http://mysite.com/image2.png");
}
#img1 {
  background-image: url("http://mysite.com/image1.png");
}
/* the next iteration's call - final-expression*/
/* the next iteration's call - final-expression*/
/* the next iteration's call - final-expression*/
